/* ThankYou.css */

.thank-you-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh; /* Full viewport height */
  background-color: rbg(26, 26, 26);
}

.thank-you-message {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px #fff;
  max-width: 400px;
  margin: 0 auto;
}

.thank-you-message h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
}

.thank-you-message p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}
